
publications/2022-tpami/analysis/.ipynb_checkpoints/

publications/2022-tpami/analysis/fit_report.pdf

publications/2022-tpami/analysis/fit_report.log

publications/2022-tpami/analysis/fit_report.aux

.vscode/settings.json
publications/2023-neurips/build/
.DS_Store
*.egg-info/
*.log
*.err
*.db
publications/2023-neurips/lightning_logs/*
publications/2023-neurips/MNIST/*

.codecarbon.config
*.jpg
*.pyc
pf.txt
*.xz
*.gz
*.env
.idea/.gitignore
.idea/lcdb.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.KNNWorkflow_188/default_campaign/lcdb.workflow.sklearn.KNNWorkflow-188-42-42-42.completed
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.KNNWorkflow_188/default_campaign/lcdb.workflow.sklearn.KNNWorkflow-188-42-42-42.running
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.KNNWorkflow_61/default_campaign/lcdb.workflow.sklearn.KNNWorkflow-61-42-42-42.completed
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.KNNWorkflow_61/default_campaign/lcdb.workflow.sklearn.KNNWorkflow-61-42-42-42.running
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.LibLinearWorkflow_188/default_campaign/lcdb.workflow.sklearn.LibLinearWorkflow-188-42-42-42.completed
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.LibLinearWorkflow_188/default_campaign/lcdb.workflow.sklearn.LibLinearWorkflow-188-42-42-42.running
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.LibLinearWorkflow_61/default_campaign/lcdb.workflow.sklearn.LibLinearWorkflow-61-42-42-42.completed
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.LibLinearWorkflow_61/default_campaign/lcdb.workflow.sklearn.LibLinearWorkflow-61-42-42-42.running
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.LibSVMWorkflow_188/default_campaign/lcdb.workflow.sklearn.LibSVMWorkflow-188-42-42-42.completed
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.LibSVMWorkflow_188/default_campaign/lcdb.workflow.sklearn.LibSVMWorkflow-188-42-42-42.running
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.LibSVMWorkflow_61/default_campaign/lcdb.workflow.sklearn.LibSVMWorkflow-61-42-42-42.completed
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.LibSVMWorkflow_61/default_campaign/lcdb.workflow.sklearn.LibSVMWorkflow-61-42-42-42.running
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.TreesEnsembleWorkflow_188/default_campaign/lcdb.workflow.sklearn.TreesEnsembleWorkflow-188-42-42-42.completed
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.TreesEnsembleWorkflow_188/default_campaign/lcdb.workflow.sklearn.TreesEnsembleWorkflow-188-42-42-42.running
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.TreesEnsembleWorkflow_61/default_campaign/lcdb.workflow.sklearn.TreesEnsembleWorkflow-61-42-42-42.completed
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.TreesEnsembleWorkflow_61/default_campaign/lcdb.workflow.sklearn.TreesEnsembleWorkflow-61-42-42-42.running
publications/2023-neurips/test/test_status_dir/lcdb.workflow.xgboost.XGBoostWorkflow_188/default_campaign/lcdb.workflow.xgboost.XGBoostWorkflow-188-42-42-42.running
publications/2023-neurips/test/test_status_dir/lcdb.workflow.xgboost.XGBoostWorkflow_61/default_campaign/lcdb.workflow.xgboost.XGBoostWorkflow-61-42-42-42.completed
publications/2023-neurips/test/test_status_dir/lcdb.workflow.xgboost.XGBoostWorkflow_61/default_campaign/lcdb.workflow.xgboost.XGBoostWorkflow-61-42-42-42.running
publications/2023-neurips/test/test_status_dir/lcdb.workflow.keras.DenseNNWorkflow_188/results.csv
publications/2023-neurips/test/test_status_dir/lcdb.workflow.keras.DenseNNWorkflow_188/default_campaign/lcdb.workflow.keras.DenseNNWorkflow-188-42-42-42.completed
publications/2023-neurips/test/test_status_dir/lcdb.workflow.keras.DenseNNWorkflow_188/default_campaign/lcdb.workflow.keras.DenseNNWorkflow-188-42-42-42.running
publications/2023-neurips/test/test_status_dir/lcdb.workflow.keras.DenseNNWorkflow_61/results.csv
publications/2023-neurips/test/test_status_dir/lcdb.workflow.keras.DenseNNWorkflow_61/default_campaign/lcdb.workflow.keras.DenseNNWorkflow-61-42-42-42.completed
publications/2023-neurips/test/test_status_dir/lcdb.workflow.keras.DenseNNWorkflow_61/default_campaign/lcdb.workflow.keras.DenseNNWorkflow-61-42-42-42.running
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.KNNWorkflow_188/results.csv
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.KNNWorkflow_61/results_20250626-034207.csv
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.KNNWorkflow_61/results_20250626-034208.csv
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.KNNWorkflow_61/results.csv
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.LibLinearWorkflow_188/results.csv
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.LibLinearWorkflow_61/results.csv
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.LibSVMWorkflow_188/results.csv
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.LibSVMWorkflow_61/results.csv
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.TreesEnsembleWorkflow_188/results.csv
publications/2023-neurips/test/test_status_dir/lcdb.workflow.sklearn.TreesEnsembleWorkflow_61/results.csv
publications/2023-neurips/test/test_status_dir/lcdb.workflow.xgboost.XGBoostWorkflow_188/results.csv
publications/2023-neurips/test/test_status_dir/lcdb.workflow.xgboost.XGBoostWorkflow_188/default_campaign/lcdb.workflow.xgboost.XGBoostWorkflow-188-42-42-42.completed
publications/2023-neurips/test/test_status_dir/lcdb.workflow.xgboost.XGBoostWorkflow_61/results.csv
